* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-bg-container {
  display: flex;
}

.container {
  width: 50%;
}
.heading-container {
  background-color: #ffbf1f;
  padding: 30px;
}
.heading {
  color: black;
  font-size: 22px;
  font-weight: 700;
}
.second-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.name-displays-container {
  min-height: 60vh;
  background-color: #ffc533;
}
.image {
  width: 100%;
  margin-top: 20px;
}
.second-title {
  color: #ffbf1f;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}
.input-container {
  align-self: center;
}
.input-element {
  cursor: pointer;
  outline: none;
  background-color: white;
  padding: 10px;
  margin-right: 15px;
  border-radius: 5px;
  border: 0px;
}
.button {
  background-color: #ffc533;
  color: black;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}
.ul-container {
  padding-left: 0px;
  list-style-type: none;
}
.li-element {
  font-size: 20px;
  font-weight: 600;
}
